language: "node_js"

node_js:
  - 0.8
  
services:
  - rabbitmq # will start rabbitmq-server
  - mongodb # will start mongodb

branches:
  only:
    - develop

before_install:
  - npm rebuild

before_script:
  - cd src
  - node start.js &
  - sleep 10
  - cd ../test
  - node E2Etest.js

notifications:
   email:
      - gll@tid.es

