language: "node_js"

node_js:
  - 0.8

services:
  - rabbitmq # will start rabbitmq-server
  - mongodb # will start mongodb

branches:
  only:
    - develop
    - master

before_install:
  - npm rebuild
  - sudo mkdir -p /var/log/push_server/ # To store log files

script:
  - cd src
  - sudo nohup node start.js > /dev/null & # Start the server
  - cd ..
  - sleep 5 # Wait for everything to settle down
  - npm test # Unit tests
  - cd test
  - cd functions
  - node getToken.js # Get tokens test (via HTTP)
  # Add more tests in between
  - node E2E.js # E2E test

test:
  - npm test # Unit tests
  - cd test/functions
  - node getToken.js # Get tokens test (via HTTP)
  # Add more tests in between
  - node E2E.js # E2E test

notifications:
   email:
      - gll@tid.es
      - frsela@tid.es
