<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Push Notification Server - {{MODULE_NAME}}</title>
  </head>
  <body>
    <h1>Push Notification Server - {{MODULE_NAME}}</h1>
    <p>© Telefónica Digital, 2012</p>
    <p>Version: {{GIT_VERSION}}</p>
    <a href="https://github.com/telefonicaid/notification_server">Collaborate !</a>
  </body>
</html>
