<html>
  <head>
    <title>Push Notification Server - {{MODULE_NAME}}</title>
  </head>
  <body>
    <h1>Push Notification Server - {{MODULE_NAME}}</h1>
    <p>&copy; Telef&oacute;nica Digital, 2012</p>
    <p>Version: {{GIT_VERSION}}</p>
    <a href="https://github.com/telefonicaid/notification_server">Collaborate !</a>
    <ul>
      <li>Number of tokens generated: {{PARAM_TOKENSGENERATED}}</li>
      <li>Number of opened connections to WS: {{PARAM_CONNECTIONS}}</li>
      <li>Maximum Number of open connections to WS: {{PARAM_MAXCONNECTIONS}}</li>
    </ul>
  </body>
</html>
